/* globals.css */
@import "tailwindcss";

.bebas {
  font-family: var(--font-bebas), sans-serif;
}

.anton {
  font-family: var(--font-anton), sans-serif;
}

.orbitron {
  font-family: var(--font-orbitron), sans-serif;
}

.rajdhani {
  font-family: var(--font-rajdhani), sans-serif;
}

.pressstart {
  font-family: var(--font-press-start), sans-serif;
}

